<!DOCTYPE html>
<html>
      <body>
            
                  <p>Customers Menu:</p>
                  <p><input type = "submit" name = "menu" value="Add Customer"/></p>
                  <p><input type = "submit" name = "menu" value="Delete Customer"/></p>
                  <p><input type = "submit" name = "menu" value="Search for Customer"/></p>
                  <p><input type = "submit" name = "menu" value="Print Customers"/></p>
                  <p><input type = "submit" name = "menu" value="Print"/></p>
                  <p><input type = "submit" name = "menu" value="Edit Customer"/></p>
                  <p><input type = "submit" name = "menu" value="Return to Main Menu"/></p> 
            
   </body>
</html>
