<!DOCTYPE html>
<html>
      <body>
            <form action = "http://localhost:5000/" method = "POST">
                  <p>Library Menu:</p>
                  <p><input type = "submit" name = "menu" value="Add Item"/></p>
                  <p><input type = "submit" name = "menu" value="Delete Item"/></p>
                  <p><input type = "submit" name = "menu" value="Search for Item"/></p>
                  <p><input type = "submit" name = "menu" value="Print Books"/></p>    
                  <p><input type = "submit" name = "menu" value="Print"/></p>
                  <p><input type = "submit" name = "menu" value="Edit Loan"/></p>
                  <p><input type = "submit" name = "menu" value="Report Lost"/></p>
                  <p><input type = "submit" name = "menu" value="Return to Main Menu"/></p>    
            </form>
   </body>
</html>
