<!DOCTYPE html>
<html>
      <body>
                  <p>Transactions Menu:</p>
                  <p><input type = "submit" name = "menu" value="Check Out"/></p>
                  <p><input type = "submit" name = "menu" value="Check In"/></p>
                  <p><input type = "submit" name = "menu" value="List Overdue"/></p>
                  <p><input type = "submit" name = "menu" value="List Books"/></p>    
                  <p><input type = "submit" name = "menu" value="Update Status"/></p>
                  <p><input type = "submit" name = "menu" value="ReCheck Out"/></p>
                  <p><input type = "submit" name = "menu" value="Edit Loan"/></p>
                  <p><input type = "submit" name = "menu" value="Report Lost"/></p>    
                  <p><input type = "submit" name = "menu" value="Return to Main Menu"/></p>    

   </body>
</html>